<!-- Navbar -->
<div class="header">
    <div class="col">
        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/lib/imagenes/iconoFavicon.png" />
            Bookuuz
        </a>
    </div>
    <div class="header-menu">
        <a class="menu-link is-active" asp-area="" asp-controller="Books" asp-action="Index">Libros</a>
        <a class="menu-link notify" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
    </div>
    <div class="header-profile">
        <div class="notification">
            <span class="notification-number">3</span>
            <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
            </svg>
        </div>
        <svg viewBox="0 0 512 512" fill="currentColor">
            <path d="M448.773 235.551A135.893 135.893 0 00451 211c0-74.443-60.557-135-135-135-47.52 0-91.567 25.313-115.766 65.537-32.666-10.59-66.182-6.049-93.794 12.979-27.612 19.013-44.092 49.116-45.425 82.031C24.716 253.788 0 290.497 0 331c0 7.031 1.703 13.887 3.006 20.537l.015.015C12.719 400.492 56.034 436 106 436h300c57.891 0 106-47.109 106-105 0-40.942-25.053-77.798-63.227-95.449z" />
        </svg>
        
        <div class="menu">
            <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <p>@ViewBag.nombre</p>
            <img class="profile-img" src="https://www.dzoom.org.es/wp-content/uploads/2020/02/portada-foto-perfil-redes-sociales-consejos.jpg" />
        </a>
            <button class="dropdown">
                <ul>
                    <li><a href="#">Go to Discover</a></li>
                    <li><a href="#">Learn more</a></li>
                    <li><a href="#">Uninstall</a></li>
                </ul>
            </button>
        </div>
        <ul class="dropdown-menu dropdown-menu-dark" style="left: -30px;min-width: 0rem;">
            <li><a class="dropdown-item" asp-area="" asp-controller="HelloWorld" asp-action="Index">Perfil</a></li>
            <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="LogOut">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>
@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navPrincipal">
    <div class="container-fluid text-center navComplete">
        <div class="row align-items-start">
            <div class="col" style="text-align: left;">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Books" asp-action="Index">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/lib/imagenes/iconoFavicon.png" />
                    Bookuuz
                </a>
            </div>
            <div class="col" style="text-align: right;">
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="display: inline-flex!important;">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <p>@ViewBag.nombre</p>
                                <img class="fotoPerfil" src="https://www.dzoom.org.es/wp-content/uploads/2020/02/portada-foto-perfil-redes-sociales-consejos.jpg" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" style="left: -30px;min-width: 0rem;">
                                <li><a class="dropdown-item" asp-area="" asp-controller="HelloWorld" asp-action="Index">Perfil</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="LogOut">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</nav>*@
