@{
    ViewData["Title"] = "Sitemap";
}
    <title> Collapsable example </title>
    <link rel="stylesheet" href="~/Treant.css">
    <link rel="stylesheet" href="~/collapsable.css">

    <link rel="stylesheet" href="~/perfect-scrollbar.css">
    <div class="chart container" id="collapsable-example"></div>
    <script src="~/raphael.js"></script>
    <script src="~/Treant.js"></script>

    <script src="~/jquery.min.js"></script>
    <script src="~/jquery.easing.js"></script>


    <script src="~/collapsable.js"></script>
    <script>
        tree = new Treant(chart_config);
    </script>
