html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navComplete {
    display: initial !important;
}

.fotoPerfil {
border-radius:50%;
width:35px;
height:35px;
background-color:orange;
margin-left:20px;
}

.navPrincipal {
    background-color: #F85008;
}